<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/dashboard .css" sizes="336x336">
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="#hjem">Hjem</a></li>
                <li><a href="#om-sffp">Om SFFP</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Information</a>
                    <div class="dropdown-content">
                        <a href="#forlystelser">Forlystelser</a>
                        <a href="#køb-billetter">Køb billetter</a>
                        <a href="#billeder">Billeder</a>
                    </div>
                </li>
@*                 <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn-language">Language</a>
                    <div class="dropdown-language">
                        <a href="#">Dansk</a>
                        <a href="#">Engelsk</a>
                        <a href="#">Spansk</a>
                        <a href="#">Tysk</a>
                    </div>
                </li> *@
            </ul>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>