@page
@model AdminSite.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel - SFFP";
}

<div class="header">
    <h1>Admin Panel</h1>
</div>
<hr />

<div class="top-row">
    <div class="priceBox">
        <a class="priceBoxBigtext">Pris oversigt</a>
        <hr class="priceBoxHR" />
        <p>
            Dagpas = 175 DKK <br />
            Månedpas = 350 DKK <br />
            Årpas = 1570 DKK 
        </p>
        <a href="#" class="editPriceButton">
            <span>Rediger</span>
        </a>
    </div>

    <div class="assigmentsBox">
        <a class="assigmentsBoxBigtext">Forlystelser</a>
        <hr class="assigmentsBoxHR" />
        <p>
            Den Hurtige RutsjeBane <br />
            Seje Svømmehal <br />
            Klør Fem Gynger <br />
            Flyvende Fritfaldstårn <br />
            Skruet Skræmmehus <br />
            Vandvittig Vandrutsjebane <br />
            Sjov Kæmpe Trampolin <br />
            Fart Minirtusjebane <br />
            Toiletter <br />
            Radikale Radiobiler
        </p>
    </div>
</div>

<div class="bottom-row">
    <div class="ticketsBox">
        <a class="ticketsBoxBigtext">Billet oversigt</a>
        <hr class="ticketsBoxHR" />
    </div>

    <div class="workersBox">
        <a class="workersBoxBigtext">Oversigt over ansatte</a>
        <hr class="workersBoxHR" />
    </div>
</div>
