@page
@model AdminSite.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel - SFFP";
}

<div class="header">
    <h1>Admin Panel</h1>
</div>
<hr />

<div class="top-row">
    <div class="priceBox">
        <a class="priceBoxBigtext">Pris oversigt</a>
        <hr class="priceBoxHR" />
        <p class="priceBoxText">
            Dagpas = 175 DKK <br />
            Månedpas = 350 DKK <br />
            Årpas = 1570 DKK 
        </p>
        <a href="#" class="editPriceButton">
            <span>Rediger</span>
        </a>
        <a href="#" class="saveButton">
            <span>Gem</span>
        </a>
    </div>

    <div class="assigmentsBox">
        <a class="assigmentsBoxBigtext">Forlystelser</a>
        <hr class="assigmentsBoxHR" />
        <p>
            Den Hurtige RutsjeBane <br />
            Seje Svømmehal <br />
            Klør Fem Gynger <br />
            Flyvende Fritfaldstårn <br />
            Skruet Skræmmehus <br />
            Vandvittig Vandrutsjebane <br />
            Sjov Kæmpe Trampolin <br />
            Fart Minirtusjebane <br />
            Toiletter <br />
            Radikale Radiobiler
        </p>
    </div>
</div>

<div class="bottom-row">
    <div class="ticketsBox">
        <a class="ticketsBoxBigtext">Billet oversigt</a>
        <hr class="ticketsBoxHR" />
        <p class="totalTickets">
            Købte billetter i alt: 9999
        </p>
        <p class="lastBoughtTickets">
            Seneste 5 købte billetter <br />
            1. Sofia Rodriguez <br />
            2. Luca Bianchi <br />
            3. Emily Smith <br />
            4. Raj Patel <br />
            5. Aisha Khan <br />
            6. Pablo Fernandez <br />
            7. Isabella Santos <br>
            8. Tuki Tanaka <br />
            9. Elise Dupont <br />
            10. Ahmed Ali
        </p>
    </div>

    <div class="workersBox">
        <a class="workersBoxBigtext">Oversigt over ansatte</a>
        <hr class="workersBoxHR" />
        <p>
            Sofia Rodriguez <br />
            Luca Bianchi <br />
            Emily Smith <br />
            Raj Patel <br />
            Aisha Khan <br />
            Pablo Fernandez <br />
            Isabella Santos <br />
            Yuki Tanaka <br />
            Elise Dupont <br />
            Ahmed Ali
        </p>
        <a href="#" class="deleteButton">
            <span>Slet</span>
        </a>
        <a href="#" class="editButton">
            <span>Rediger</span>
        </a>
        <a href="#" class="saveButton">
            <span>Gem</span>
        </a>
    </div>
</div>
