@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Overview";
}

<div class="header">
    <h1>Super Fun Fun Park</h1>
</div>
<hr />

<div class="maintenanceBox">
    <a class="bigtext">Næste vedligeholdelse</a>
    <hr class="maintenanceHR" />
    <a>3 November 2023</a>
    <br />
    <a>Klokken 06:00 - 12:30</a>
</div>

