@page
@model AdminSite.Pages.LoginModel
@{
    ViewData["Title"] = "Login - SFFP";
}

<div class="mainContainer">
    <h1></h1>
</div>
<hr />

<div class="registrer-container">
    <div class="registrer-form">
        <div class="registrer-title">Registrer</div>
        <input class="registrer-input" type="text" placeholder="Email">
        <input class="registrer-input" type="text" placeholder="Fulde navn">
        <input class="registrer-input" type="password" placeholder="Password">
        <button class="registrer-button">Registrer</button>
    </div>
</div>
